:root {
    --primary-color: rgb(206, 34, 34);
    --secondary-color: rgb(63, 115, 203);
    --foreground-color: rgb(55, 126, 98);
    --background-color: rgb(204, 204, 204);
    --color-5: rgb(17, 18, 19);
    --color-6: rgb(246, 197, 103);
    --color-7: rgb(121, 202, 216);
    --color-8: rgb(240, 240, 240);
    --primary-font: 'Kanit', sans-serif;
    --secondary-font: "Lato";
    --tertiary-font: "Source Sans Pro";
    
}
body {
  overflow-x: hidden;
}
#animation-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#animation-div-img{
  height: 150px;
  opacity: 1;
}

header {
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);
  display:flex;
  justify-content: space-between;
  font-family: var(--primary-font);
  font-size: 1em;
  position: fixed;
  color: #fff;
}
#header-logo {
  height: 100%;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
header ul li {
  margin: 0 2em;
}
header ul li:hover {
  cursor: pointer;
}

#landing {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: var(--color-5);
}

main {
  display: flex;
}
#main-founders-text {
  width: 60%;
}